name: Basic checks
on: [push, pull_request]
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - lts/*
          - latest
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/checkout@v6
      - run: npm install
      - run: npm run lint
      - run: npm test
      - run: npm run adduser testuser testpassword
      - run: npm run users
      - run: npm run stats
      - run: npm run up && npm run down
